:host {
  padding: 16px;
}
p {
  padding: 16px;
}
.para_class{
overflow-y: auto;
max-height: 300px;

}
.previous {
  opacity: 0.6;

}
.previous.error {
  color: red;
  font-weight: bold;
  background-color: lightcyan;}

.next {
  font-weight: bold;
  color: deepskyblue;
  background-color: lightcyan;
}
